html, body {
  height: 100%; 
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
}

#container {
  width: 100%;
  min-height: 100%;
}

main {
  margin: 0 auto;
  padding-bottom: 50px;
}

#header-img img {
   width: 100%;
   height: 500px;
}

header h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 50px;
  position: relative;
  top: -122px;
  font-family: 'Wire One', sans-serif;
  font-size: 130px;
  font-weight: lighter;
}

#blockquote {
  margin: -100px auto 20px auto; 
  text-align: center;
  width: 49%;
  font-size: 21px;
}

.post {
  margin: 1em 0px;
  padding: 1em 1em;
  min-height: 60px;
}

.post:before {
  display: block;
  float: left;
  content: "\201C";
  font-size: 100px;
  margin-right: 10px;
  color: #000;
  background-color: #FFDC00;
  padding: 15px 12px 5px 8px;
  width: 50px;
  height: 50px;
  line-height: 90px;
  border-radius: 50%;
}

cite {
  display: block;
  padding-top:10px;
  font-style: normal;
}

#blockquote a {
  text-decoration: none; 
  background: black;
  color: white;
}

.center-nav {
  color: black; 
  font-family: 'Wire One', sans-serif;
  text-align: center;
}

.center-nav a {
  text-decoration: none; 
  color: black;
  font-size: 47px;
}

.center-nav a:hover {
  color: white;
}

div.box {
  display: inline-block; 
  height: 100px;
  width: 300px;
  padding-top: 50px;
}

#about {
  background: #39CCCC;
}

#disco {
  background: #E80C7A;
}

#gallery {
  background: #FF7F50;
}

div#about-page {
  position: relative;
  width: 33%;
  border: 1px solid #39CCCC;
  margin: -100px auto 130px auto;
}

div#about-page h3 {
  background-color: #39CCCC;
  color: white;
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Wire One', sans-serif;
  font-size: 33px;
  color: black;
  text-align: center;
}

div#about-page p {
  padding: 5px;
}

div#disco-page {
  position: relative;
  width: 33%;
  border: 1px solid #E80C7A;
  margin: -100px auto 130px auto;
}

div#disco-page h3 {
  background-color: #E80C7A;
  color: white;
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Wire One', sans-serif;
  font-size: 33px;
  color: black;
  text-align: center;
}

div#disco-page p {
  padding: 5px;
}

table th {
  text-align: left;
  font-size: 19px;
  padding-left: 10px;
}

table td {
  padding-left: 10px;
  padding-right: 30px;
}

div#gallery-page {
  position: relative;
  width: 50%;
  border: 1px solid #FF7F50;
  margin: -100px auto 130px auto;
  text-align: center;
}

div#gallery-page h3 {
  background-color: #FF7F50;
  color: white;
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Wire One', sans-serif;
  font-size: 33px;
  color: black;
  text-align: center;
}

div.img {
    border: 1px solid #ccc;
}

div.img img {
    width: 100%;
    height: 200px;
}

.gallery {
    padding: 0 6px;
    width: 24.99999%;
    display: inline-block;
    margin: auto;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  border-top: .5px solid black; 
  background-color: white; 
  clear: all;
}

footer nav ul {
  list-style-type: none; 
  text-align: center;
}

footer nav li {
  display: inline;
  font-family: 'Wire One', sans-serif;
  font-size: 50px;
  padding-right: 30px; 
}

footer nav a {
  text-decoration: none; 
  color: black;
}

footer nav a#active-about {
  background-color: #39CCCC;
}

footer nav a#active-disco {
  background-color: #E80C7A;
}

footer nav a#active-gallery {
  background-color: #FF7F50;
}

footer nav a:hover:not(.active-about) {
  background-color: #FFDC00;
}

@media screen and (max-width: 1200px) {

  #header-img img {
    width: 100%;
    height: 300px;
  }
  
  header h1 { 
    position: relative;
    top: 5px;
    width: 100%; 
    text-align: center;
    margin-bottom: 10px;
  }

  #blockquote {
    position: relative;
    top: 5px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 17px;
  }
  
  .center-nav li {
    display: block; 
  }

  #about {
    width: 100%;
  }

  #disco {
    width: 100%;
  }

  #gallery {
    width: 100%;
  }

  div#about-page {
    margin-top: 50px;
    width: 100%;
  }

  div#disco-page {
    margin-top: 50px;
    width: 100%;
  }

  div#gallery-page {
    margin-top: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
    .gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media screen and (max-width: 500px){
    .gallery {
        width: 100%;
    }
}