body {
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Josefin Slab', serif;*/
  /*font-family: 'Six Caps', sans-serif;*/
  /*font-family: 'Monoton', cursive;*/
}

#container {
  width: 100%;
  margin: 0 auto; 
}

#header-img img {
   width: 100%;
   height: 500px;
}

header h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 50px;
  position: relative;
  top: -122px;
  font-family: 'Wire One', sans-serif;
  font-size: 130px;
  font-weight: lighter;
}

#blockquote {
  margin: -100px auto 130px auto; 
  text-align: center;
  width: 55%;
  font-size: 21px;
}

.post {
  margin: 1em 0px;
  padding: 1em 1em;
  min-height: 60px;
}

.post:before {
  display: block;
  float: left;
  content: "\201C";
  font-size: 100px;
  margin-right: 10px;
  color: #000;
  background-color: #FFDC00;
  padding: 15px 12px 5px 8px;
  width: 50px;
  height: 50px;
  line-height: 90px;
  border-radius: 50%;
}

cite {
  display: block;
  padding-top:10px;
  font-style: normal;
}

#blockquote a {
  text-decoration: none; 
  background: black;
  color: white;
}

footer nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: .5px solid black; 
  margin-top: 100px;
  padding-top: 30px;
  background-color: white; 
}

footer nav ul {
  list-style-type: none; 
  text-align: center;
}

footer nav li {
  display: inline;
  font-family: 'Wire One', sans-serif;
  font-size: 50px;
  padding-right: 30px; 
}

footer nav a {
  text-decoration: none; 
  color: black;
}