  body {
    color: var(--blue);
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 100%;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }

  #banner {
    display: flex;
    height: 300px;
    text-align: center;
    width: 100%;
  }

  #logo {
    height: 90%;
    max-width: 90%;
  }

  #main {
    align-content: center;
    display: flex;
    flex-grow: 1;
    height: 1vh;
    justify-content: center;
    width: 100%;
  }

  .color-bar {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0;
    justify-content: center;
    text-orientation: upright;
    width: 13%;
    writing-mode: vertical-lr;
  }

  .color-bar:hover {
    border-bottom: 30px solid rgba(255,255,255,0.5);
    color: var(--beige);
    font-size: 1.7Em;
    transform: translate3D(0,-1px,0) scale(1.03);
  }

  .color-bar.active {
    border-bottom: 30px solid rgba(255,255,255,0.5);
    font-size: 1.7Em;
    color: var(--beige);
  }

  .color-bar-main {
    background-color: var(--beige);
    pointer-events: none;
    width: 31%;
  }

  .info-card {
    align-items: center;
    background-color:rgba(255,255,255,0.5);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
    margin-top: 7%;
    width: 50%;
  }

  .info-card-img {
    max-height: 70%;
    max-width: 70%;
  }

  .resume-button {
    background-color: var(--marigold);
    border-radius: .3em;
    border-style: none;
    color: var(--beige);
    cursor: pointer;
    font-size: 1.3Em;
    margin-bottom: 15%;
  }

  .resume-button:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
  }

  .resume-options {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .resume-thumbnail {
    border-radius: .9em;
    height: 90%;
  }

  .beige {
    background-color: var(--beige);
  }

  .blue {
    background-color: var(--blue);
  }

  .green {
    background-color: var(--green);
  }

  .light-blue {
    background-color: var(--light-blue);
  }

  .marigold {
    background-color: var(--marigold);
  }

  .orange {
    background-color: var(--orange);
  }

  .pink {
    background-color: var(--pink);
  }

  .purple {
    background-color: var(--purple);
  }

  @font-face {
    font-family: 'Glamour Absolute Condensed';
    font-variant-ligatures: common-ligatures;
    src: local('Glamour Absolute Condensed'), url(../../assets/fonts/Glamour\ Absolute\ Serif/GlamourAbsolute_Condensed.otf) format('opentype');
  }

  @font-face {
    font-family: 'Glamour Absolute Extended';
    font-variant-ligatures: common-ligatures;
    src: local('Glamour Absolute Extended'), url(../../assets/fonts/Glamour\ Absolute\ Serif/GlamourAbsolute_Extended.otf) format('opentype');
  }

  @font-face {
    font-family: 'Glamour Absolute Regular';
    font-variant-ligatures: common-ligatures;
    src: local('Glamour Absolute Regular'), url(../../assets/fonts/Glamour\ Absolute\ Serif/GlamourAbsolute_Regular.otf) format('opentype');
  }

  :root {
    --beige: #EBD8C7;
    --blue: #0071A0;
    --green: #399A8F;
    --gold: #D6A445;
    --light-blue: #ACE1FF;
    --marigold:  #FF9814;
    --orange: #FF7417;
    --pink: #E66F63;
    --purple: #B1768B;
    }
